<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!--PERIPHERALS & JOINTS-->   

    <link name="laser_link">
        <inertial>
            <origin xyz="-0.0176558922685589 0.000671805271544437 0.0219302095894866" rpy="0 0 0" />
            <mass value="0.0483909504209895" />
            <inertia ixx="1.58456966399128E-05" 
                     ixy="-4.23913983850005E-07" 
                     ixz="-2.09597897904374E-07"
                     iyy="3.89262522903605E-05" 
                     iyz="3.24809725932687E-07" 
                     izz="4.86230801106223E-05" />
        </inertial>

        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find x3_description)/meshes/laser_link.STL"/>
            </geometry>
            <material name="">
                <color rgba="0.7 0.7 0.7 1"/>
            </material>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find x3_description)/meshes/laser_link.STL"/>
            </geometry>
        </collision>
    </link>

    <joint name="laser_joint" type="fixed">
        <origin xyz="0.0435 5.25826986680105E-05 0.11" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="laser_link"/>
    </joint>
    
    <link name="camera_link">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx="0" 
                     ixy="0" 
                     ixz="0" 
                     iyy="0" 
                     iyz="0" 
                     izz="0"/>
        </inertial>

        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find x3_description)/meshes/camera_link.STL"/>
            </geometry>
            <material name="">
                <color rgba="0.7 0.7 0.7 1"/>
            </material>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find x3_description)/meshes/camera_link.STL"/>
            </geometry>
        </collision>
    </link>

    <joint name="camera_joint" type="fixed">
        <origin xyz="0.057105 1.7948E-05 0.03755" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="camera_link"/>
    </joint>

</robot>