#
# Copyright (c) 2019-2020, NVIDIA CORPORATION.  All rights reserved.
#

KERNEL=="android0" SUBSYSTEM=="android_usb" RUN+="/opt/nvidia/l4t-usb-device-mode/nv-l4t-usb-device-mode-state-change.sh"

SUBSYSTEM=="usb_role" RUN+="/opt/nvidia/l4t-usb-device-mode/nv-l4t-usb-device-mode-state-change.sh"
